function test(int var1, float var2) -> void {

}

function test(int var1) -> int {
    return 1;
}

class Citizen(int townId) {
    function test(int var1) -> int {
        return 1;
    };
}

function Setup() -> void {

}
