class Citizen(int townId, float weight) {}

function Setup() -> void {
    Citizen::?(townId: 5, weight: 62.3);
    Citizen::?(townId: 5.0, weight: 62.3);
    Citizen::?(townId: 5, weight: 62);
    Citizen::?(townId: 5.0, weight: 62);
}

