class Citizen(int townId) {
    state Child {
        enter Adult;
    }

    state Adult {
        enter Adult;
    }
}

function Setup() -> void {
    int x = exists(Town::Child(townId: 5, townId: 13));
}
