species Citizen(int townId) {
    state Child {
        enter Adult;
    }

    state Adult {
        enter Adult;
    }
}

function duplicate(Predicate p) -> int{
    if (count(p) > 1) {
        return 1;
    }
    return 0;
}

function setup() -> void {
    Predicate x = Citizen::Child(townId:1);
    if (duplicate(x)) {
        create Exiter::Exiting();
    }
}

species Exiter() {
    state Exiting {
        exit;
    }
}
