species Citizen(int townId) {
    state Child {
        enter Adult;
    }

    state Adult {
        enter Adult;
    }
}

function getChildPredicate(int id) -> Predicate {
    return Citizen::Child(townId: id);
}

function setup() -> void {
    int townId = 5;
    int childrenCount = count(getChildPredicate(townId));
}
