species Town(int id, int space) {}

function test() -> void {}

function setup() -> void {
    int x = 5 <= test();
    x = 5 == Town::?();
    x = test() != 10 && Town::?() == 0;
    x = 5 > 6.0 == 0;
    x = Town::?() == Town::?();
    x = Town::?() < Town::?();
}
