function test(int var1, float var2) -> void {

}

function test(int var1) -> int {
    return 1;
}

species Citizen(int townId) {
    function test(int var1) -> int {
        return 1;
    }
}

function setup() -> void {

}
