species Citizen(int townId, float weight) {}

function setup() -> void {
    int x = exists(Citizen::?(townId: 5, weight: 62.3));
    x = exists(Citizen::?(townId: 5.0, weight: 62.3));
    x = exists(Citizen::?(townId: 5, weight: 62));
    x = exists(Citizen::?(townId: 5.0, weight: 62));
}

