species Foo() {
    state Bar {
        enter Baz;
    }
    state Baz {
        create Foo::Bar();
        enter Baz;
    }
}

function setup() -> void {
    create Foo::Bar();
    ExitWhenMoreThan(Foo::Baz(), 1);
}
