species Citizen() {
    state Adult {
        enter Child;
    }

    state Child {
        exit;
    }
}

species Town(int townId) {
    state Stable {
        townId = townId + 1;
        enter Critical;
    }
    state Critical {
        townId = townId + 1;
        enter Stable;
    }
}

function setup() -> void {
    create Citizen::Adult();
    create Town::Stable(townId: 0);
}
