species Citizen(int townId) {
    state Alive {
        enter Alive;
    }
}

species Town(int id, int citizenCount) {
    decorator updateCitizenCount {
        Predicate citizens = Citizen::?(townId: id);
        citizenCount = count(citizens);
        if (citizenCount != #citizens) {
            // Crash to force different behaviour
            int x = 1/(citizenCount - citizenCount);
        }
    }

    @updateCitizenCount
    state Stable {
        create Citizen::Alive(townId: id);
        enter Stable;
    }
}

function setup() -> void {
    create Town::Stable(id: 1, citizenCount: 0);
    create Citizen::Alive(townId: 1);
    exitAfterTicks(2);
}
